@import "./variables";

* {
  font-family: $font-family-base;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.custom-paging {
  position: relative;
  padding: 5px 10px;
  border-bottom: $gray-600;
  color: $gray-600;
  cursor: pointer;
  background-color: transparent;
  width: 100px;
  box-sizing: border-box;
}